<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Data</h1>
    <form action="'" method="post">
            ID<input type="text" name="id" id="" value="<%=item._id%>" readonly> <br> 
            Nama <input type="text" name="nama" id="" value="<%=item.nama%>"> <br>
            Berat<input type="text" name="berat" id="" value="<%=item.berat%>"><br>
            Tinggi <input type="text" name="tinggi" id="" value="<%=item.tinggi%>"><br>
            Lahir<input type='date' name="date" id="" value="<%= item.lahir%>"> <br>
            status<select name="status" id="" >
                <option <%=item.status==true?"selected":null%>>menikah </option>
                <option <%=item.status==false?"selected":null%>>jomblo</option>
                </select> <br>
            
            <button type="submit">Edit</button>
           
    </form>
</body>
</html>